/* ClickerGame.css */

.clicker-game {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #555;
  }
  
  li span {
    margin-right: 5px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  
    p, button {
      font-size: 1rem;
    }
  }
  