.calculator-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Roboto', sans-serif;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

